@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply hidden;
  }
  * {
    @apply border-border focus-visible:outline-none focus-visible:bg-yellow-500;
  }
  body {
    @apply bg-background text-foreground max-w-[95rem] mx-auto;
  }

  .btn {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors   disabled:pointer-events-none disabled:opacity-50;
  }
  .btn-default {
    @apply bg-primary text-primary-foreground shadow hover:bg-primary/90;
  }
  .btn-destructive {
    @apply bg-destructive text-destructive-foreground shadow-sm hover:bg-destructive/90;
  }
  .btn-ghost {
    @apply hover:bg-accent hover:text-accent-foreground;
  }
  .btn-link {
    @apply text-primary underline-offset-4 hover:underline focus-visible:bg-transparent focus-visible:underline;
  }
  .btn-small {
    @apply h-8 rounded-md px-3 text-xs;
  }
  .btn-icon {
    @apply size-8;
  }

  .sticky-top {
    @apply h-14 mb-4 sticky top-0 z-20 w-full border-b  bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60;
  }

  .label {
    @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
  }
  .input {
    @apply flex h-8 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground  focus-visible:ring-1 focus-visible:ring-offset-2 focus-visible:ring-offset-background focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
  }

  .auth-head {
    @apply text-center text-2xl font-bold tracking-tight;
  }

  .link {
    @apply text-indigo-700 font-medium underline-offset-4 hover:underline;
  }

  .form {
    @apply space-y-6 w-11/12 max-w-sm mx-auto;
  }

  .rotate-icon {
    @apply me-1 size-4 animate-spin;
  }
}
